@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text');
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: rgba(68, 47, 45, 1);
    font-family: 'Cabin Condensed', sans-serif;
    margin: 1rem;
}

header {
    color: rgba(209, 206, 200, 1);
    text-align: center;
    text-transform: uppercase;
    padding: 3em 0em 4em;
    margin: 0 auto;
}

/* Header title */

#website-title {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: 6rem;
    padding: 0;
    margin: 0;
}

#subtitle {
    letter-spacing: 0.4em;
    font-size: 1em;
    font-weight: 100;

}

.hover-title {
    padding: 0;
    margin: 0;
}

.hover-title:hover {
    color: rgba(174, 65, 51, 1);
}

/* Main navigation */

#navbar {
    background-color: rgba(174, 65, 51, 1);
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0;
}

#navbar ul {
    margin: 0;
    padding: 0;
}

#navbar li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#navbar li .current {
    background-color: rgb(106, 73, 70);
}

#navbar li a {
    color: rgba(209, 206, 200, 1);
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0em 1.5em;
}

#navbar li a:hover {
    color: rgba(188, 158, 144, 1);
}

/* Footer */
footer {
    text-align: center;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding: 0 0.5em;
}

footer ul li {
    color: rgba(209, 206, 200, 1);
}

footer ul li a {
    color: inherit;
}

footer li a:hover {
    color: rgba(188, 158, 144, 1);
}

footer li .current {
    color: rgba(174, 65, 51, 1);
}

/* Main Page */
#main-page {
    max-width: 65rem;
    margin: 0 auto;
    border-radius: 15px;
    min-height: 400px;
    background-color: rgba(209, 206, 200, 1);
}

main {
    margin: 0 auto;
    color: rgba(68, 47, 45, 1);
}

a {
    color: rgba(174, 65, 51, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(200, 70, 118, 1);
}

/* Responsiveness for mobile */
@media screen and (max-width: 480px) {
    #website-title {
        font-size: 4rem;
    }

    body {
        margin: 0;
    }

    #main-page {
        border-radius: 0;
    }
}

/* Images */

img {
    width: 100%;
}

figure {
    margin: 0em 0em 2em;
    padding: 0;
}

figcaption {
    text-align: center;
    letter-spacing: 0.1em;
    opacity: 0.8;
    font-size: 12px;
}

figcaption:hover {
    opacity: 1;
}

/* Text formatting */
p {
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.7px;
    padding-bottom: 0.7em;
}

.text-source {
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

.text-source:hover {
    opacity: 1;
}

.bold {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-style: normal;
    font-weight: 900;
}

/* Home */
.content {
    margin: 1rem 2rem;
    padding-bottom: 1em;
    text-align: left;
}

.content h1 {
    font-size: 2.1em;
    text-align: center;
    padding: 0;
    margin: 2em 0 1em;
}


/* Reviews */
#reviews {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.review {
    padding: 1.5em;
    margin: 1em 1em;
    background-color: rgba(59, 48, 51, 0.85);
    border-radius: 10px;
    color: rgba(209, 206, 200, 1);
    display: inline;
    width: 45%;
}

.review h4 {
    color: rgba(207, 157, 162, 1);
    text-align: center;
}

.review p {
    font-size: 1em;
}

.review figure {
    text-align: center;
}

.review img {
    border-radius: 12rem;
    width: 12rem;
    height: 12rem;
    display: inline;
    align-content: center;
    border: solid 0.2em rgba(174, 65, 51, 1);
}

/* Places */
.flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.place {
    background-color: rgba(59, 48, 51, 0.3);
    width: 11rem;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

.place img {
    border-radius: 9rem;
    width: 9rem;
    height: 9rem;
    opacity: 0.9;
}

.place img:hover {
    opacity: 1;
}

.place p {
    font-size: 1.1rem;
    color: rgba(68, 47, 45, 0.9);
    text-align: left;
    padding: 0.6em;
}

.place .extra-info {
    color: rgba(68, 47, 45, 1);
    font-size: 1em;
}

.place .text-source {
    font-size: 0.7em;
    text-align: left;
    margin: inherit;
}